PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://127.0.0.1:27017/ecommerce_db
JWT_SECRET=super_secret_jwt_key_e_commerce_2026_change_in_production
JWT_EXPIRE=30d
STRIPE_SECRET_KEY=sk_test_mock_key_or_real_stripe_key
CLOUDINARY_CLOUD_NAME=demo
CLOUDINARY_API_KEY=123456789
CLOUDINARY_API_SECRET=abcdefghijklmnopqrstuvwxyz
